<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diễn đàn</title>
    <link href="css/global/style.css" rel="stylesheet" type="text/css">
    <link href="css/global/header.css" rel="stylesheet" type="text/css">
    <link href="css/global/footer.css" rel="stylesheet" type="text/css">
    <link href="css/page/register.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="container-header">
        <div class="title">
            <h2>Diễn đàn</h2>
        </div>
        <div class="user">
            <div class="user-login">
                <h2><a href="/login.php">Login</a></h2>
            </div>
            <div class="user-register">
                <h2><a href="register.php">Register</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="body">
    <div class="register-container">
        <div class="register">
            <h2>REGISTER</h2>
            <div class="input">
                <div class="name">
                    <input type="text" placeholder="name">
                </div>
                <div class="birthday">
                    <input type="text" placeholder="birthday">
                </div>
                <div class="sex">
                    <select>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="email">
                    <input type="text" placeholder="email">
                </div>
                <div class="password">
                    <input type="password" placeholder="password">
                </div>
                <div class="password">
                    <input type="password" placeholder="comfirm-password">
                </div>
            </div>
            <div class="sign-in">
                <button>Register</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>footer</p>
</footer>
</body>
</html>
