header {
    background-color: #26466e;
    padding: 10px;
    font-size: 10px;
    color: white;
}
header .container-header div.title{
    display: inline-block;
    width: 60%;
    padding-left: 30px;
}
header .container-header div.title a{
    color: white;
    text-decoration: none;
}
header .container-header div.user{
    display: inline-block;
}
header .container-header div.user div.user-login{
    display: inline-block;
    margin-right: 20px;
}
header .container-header div.user div.user-register{
    display: inline-block;

}
header .container-header div.user div.user-login a{
    color: white;
    text-decoration: none;
}
header .container-header div.user div.user-register a{
    color: white;
    text-decoration: none;
}
.button {
    width: 20px;
    padding: 10px;
    background-color: #435263;
    color: white;
    text-decoration: none;
}